@model tp_lab_4.ViewsModels.AfiliadosViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">       
    <p>
        Apellido <input type="text" asp-for="@Model.Apellido1" name="busqApellido"/>
        DNI <input type="number" asp-for="@Model.Dni" name="busqDni" />

        <input type="submit" value="Filtrar"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Afiliados1[0].Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Afiliados1[0].Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Afiliados1[0].DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Afiliados1[0].fechaNacimiento)
            </th>
            <th>
                Foto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Afiliados1) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaNacimiento)
            </td>
            <td>
                    @if(!string.IsNullOrEmpty(@item.foto))
                    {
                      <img src="~/images/@item.foto" class="img-thumbnail" style="max-height: 60px; width: 75%" asp-append-version="true" />
                    }
                
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
